#第2章: UNIXコマンド 
[popular-names.txt](https://nlp100.github.io/data/popular-names.txt)は，アメリカで生まれた赤ちゃんの「名前」「性別」「人数」「年」をタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，popular-names.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ

##準備

###カレントフォルダーの設定
ファイル処理を行うため、Google DriveGoogle Driveをマウントし、適当なフォルダーをカレントフォルダーに設定します。！はコマンドの実行。%は同様にコマンドの実行ですが、コマンドプロセスが終わっても結果が生きます。

In [ ]:
!pwd
%cd "/content/drive/My Drive/Colab Notebooks/NLP"

/content
/content/drive/My Drive/Colab Notebooks/NLP

###データのダウンロード
サンプルデータは、1行目にヘッダーラベルなし、TAB区切りのCSVです。あとで、Pandasで読み込むときにこれらの設定を指定します。

In [ ]:
!wget https://nlp100.github.io/data/popular-names.txt

--2021-10-03 01:32:15--  https://nlp100.github.io/data/popular-names.txt
Resolving nlp100.github.io (nlp100.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to nlp100.github.io (nlp100.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55026 (54K) [text/plain]
Saving to: ‘popular-names.txt.1’

popular-names.txt.1 100%[===================>]  53.74K  --.-KB/s    in 0.009s

2021-10-03 01:32:16 (6.09 MB/s) - ‘popular-names.txt.1’ saved [55026/55026]

##pandasの基本事項

###series, dataframe
Pandassは、シリーズとデータフレームというデータを基本とします。
以下を実行してください。そして、何が起きるか、ゆっくり咀嚼してください。

In [ ]:
import pandas as pd
s1 = pd.Series([1,2,3,5])
print(s1)

0    1
1    2
2    3
3    5
dtype: int64

In [ ]:
import pandas as pd
df = pd.DataFrame({
    '名前' : ['田中', '山田', '高橋'],
    '役割' : ['営業部長', '広報部', '技術責任者'],
    '身長' : [178, 173, 169]
    })
print(df)
print(df.index)
print(df.columns)

   名前     役割   身長
0  田中   営業部長  178
1  山田    広報部  173
2  高橋  技術責任者  169
RangeIndex(start=0, stop=3, step=1)
Index(['名前', '役割', '身長'], dtype='object')

###参照
Pandasののデータを参照する基本的な方法です。以下を実行してください。直前に実行したコードの結果dfがVMのメモリに残っています。

In [ ]:
print(df['名前'])

0    田中
1    山田
2    高橋
Name: 名前, dtype: object

In [ ]:
print(df.iloc[0])

名前      田中
役割    営業部長
身長     178
Name: 0, dtype: object

In [ ]:
print(df[1:])

   名前     役割   身長
1  山田    広報部  173
2  高橋  技術責任者  169

##課題10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

###ヒント
pandas.read_csv：　CSVファイルをデータフレームとしてロードする　https://note.nkmk.me/python-pandas-read-csv-tsv/

len(データフレーム) ：　データフレームの行数をもらう　https://note.nkmk.me/ython-pandas-len-shape-size/

wc：単語をカウントする。行数は、-l。　https://www.atmarkit.co.jp/ait/articles/1611/07/news026.html

###解答例

In [ ]:
import pandas as pd
df = pd.read_csv('popular-names.txt', header=None, sep='\t')
print(df)
print(df.shape)
print(len(df))

              0  1      2     3
0          Mary  F   7065  1880
1          Anna  F   2604  1880
2          Emma  F   2003  1880
3     Elizabeth  F   1939  1880
4        Minnie  F   1746  1880
...         ... ..    ...   ...
2775   Benjamin  M  13381  2018
2776     Elijah  M  12886  2018
2777      Lucas  M  12585  2018
2778      Mason  M  12435  2018
2779      Logan  M  12352  2018

[2780 rows x 4 columns]
(2780, 4)
2780

In [ ]:
!wc -l popular-names.txt

2780 popular-names.txt

##課題11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ

###ヒント
データフレーム内で変換しなくても、タブ区切りで読み込んだ後、セパレータを‘ ’に設定して書き出せばよい。

pandas.to_csv：　データフレームをCSVファイルとして書き出す　https://note.nkmk.me/python-pandas-to-csv/

sed：ストリームエディター、行単位でテキストファイルを編集する　https://qiita.com/hirohiro77/items/7fe2f68781c41777e507

###解答例

In [ ]:
import pandas as pd
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
df.to_csv('tmp.txt', sep=' ', index=False, header=None)
!tail -n 3 tmp.txt

Lucas M 12585 2018
Mason M 12435 2018
Logan M 12352 2018

In [ ]:
!sed -e 's/\t/ /g' popular-names.txt | tail -n 3

Lucas M 12585 2018
Mason M 12435 2018
Logan M 12352 2018

##課題12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ

###ヒント
データフレームの要素参照：　https://note.nkmk.me/python-pandas-index-row-column/

cut：テキストファイルを行単位で分割する。カラムを指定するには-f カラム番号。　https://www.atmarkit.co.jp/ait/articles/1610/31/news026.html

###解答例

In [ ]:
import pandas as pd
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
df[0].to_csv('col1.txt', index=False, header=None)
df[1].to_csv('col2.txt', index=False, header=None)
!tail -n 3 col1.txt
!tail -n 3 col2.txt

Lucas
Mason
Logan
M
M
M

In [ ]:
import pandas as pd
df = pd.read_csv('popular-names.txt', header=None, sep='\t', names=['name', 'sex', 'number', 'year'])
df['name'].to_csv('col1.txt', index=False, header=None)
df['sex'].to_csv('col2.txt', index=False, header=None)
!tail -n 3 col1.txt
!tail -n 3 col2.txt

Lucas
Mason
Logan
M
M
M

In [ ]:
!cut -f 1 popular-names.txt | tail -n 3
!cut -f 2 popular-names.txt | tail -n 3

Lucas
Mason
Logan
M
M
M

##課題13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ

###ヒント
pandas.concat：　データフレームを列方向あるいは行方向に連結する　https://note.nkmk.me/python-pandas-concat/ 

横方向に連結する場合は、axis=1が必要。

paste：複数のテキストファイルを、行単位で結合する　https://www.atmarkit.co.jp/ait/articles/1704/07/news018.html

head：ファイルの先頭行を表示する

tail：ファイルの末尾行を表示する

###解答例

In [ ]:
import pandas as pd
c1 = pd.read_csv('col1.txt', header=None)
c2 = pd.read_csv('col2.txt', header=None)
df = pd.concat([c1, c2], axis=1)
df.to_csv('tmp.txt', sep='\t', index=False, header=None)
!tail -n 3 tmp.txt

Lucas	M
Mason	M
Logan	M

In [ ]:
!paste col1.txt col2.txt | tail -3

Lucas	M
Mason	M
Logan	M

##課題14. 先頭からN行を出力 [難易度高]
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ.

###ヒント
pandas.head：先頭行を取り出す。tail: 末尾行を取り出す。https://note.nkmk.me/python-pandas-head-tail/　

コマンドライン引数として受け取るコードは、colabで実行しにくいので、コンソール入力を起動する。

Pythonでは、n = int(input('>>'))

Shellでは、read：コンソールからの入力　http://itdoc.hitachi.co.jp/manuals/3020/30203S3530/JPAS0297.HTM

!shellコマンドを続けて実行数する　https://qiita.com/egawa_kun/items/714394609eef6be8e0bf 

!shell変数の定義と参照　https://www.atmarkit.co.jp/ait/articles/1810/03/news001.html

###解答例

In [ ]:
import pandas as pd
n = int(input('>>'))
df = pd.read_csv('popular-names.txt', header=None, sep='\t')
print(df.head(n))

>>3
      0  1     2     3
0  Mary  F  7065  1880
1  Anna  F  2604  1880
2  Emma  F  2003  1880

In [ ]:
#sys.argvを使う場合、ファイルに落としてShellで数字を渡す。
prgm = '''
import sys
import pandas as pd
n = int(sys.argv[1])
df = pd.read_csv('./popular-names.txt', sep='\t', header=None)
print(df.head(n))
'''
with open('./head.py', mode='w') as f:
    f.write(prgm)

!python head.py 3

      0  ...     3
0  Mary  ...  1880
1  Anna  ...  1880
2  Emma  ...  1880

[3 rows x 4 columns]

In [ ]:
!read N; head -n "$N" popular-names.txt

5
Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

##課題15. 末尾のN行を出力 [難易度高]
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ

###解答例

In [ ]:
import pandas as pd
n = int(input('>>'))
df = pd.read_csv('popular-names.txt', header=None, sep='\t')
print(df.tail(n))

>>2
          0  1      2     3
2778  Mason  M  12435  2018
2779  Logan  M  12352  2018

In [ ]:
!read N; tail -n "$N" popular-names.txt

2
Mason	M	12435	2018
Logan	M	12352	2018

##課題16. ファイルをN分割する [難易度高]
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ

###ヒント
split：ファイル分割　https://www.atmarkit.co.jp/ait/articles/1711/24/news016.html　こいつは行数は自動で取得してくれる

Pandasで位置指定してデータを取り出す
https://note.nkmk.me/python-pandas-at-iat-loc-iloc/

###解答例

In [ ]:
import pandas as pd
n = int(input('>>'))
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
numRows = len(df) // n  #切り捨て割り算, ・だとnumRowsnumRowsが実数になる
for i in range(n):
  df.loc[numRows* i : numRows* (i + 1)-1].to_csv(f'split_{i}', sep='\t', index=False, header=None)
!wc -l popular-names.txt
!wc -l split_0
!wc -l split_1
!wc -l split_2

>>3
2780 popular-names.txt
926 split_0
926 split_1
926 split_2

In [ ]:
!read N; split -n "$N" popular-names.txt split_
!wc -l popular-names.txt
!wc -l split_0
!wc -l split_1
!wc -l split_2

3
2780 popular-names.txt
926 split_0
926 split_1
926 split_2

##課題17. １列目の文字列の異なり[難易度高]
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ

###ヒント
pandas.unique：値がユニークなndarrayを返す　https://note.nkmk.me/python-pandas-value-counts/ 
pandas.sort_values：ソートする　https://note.nkmk.me/python-pandas-sort-values-sort-index/

まず、df[0].unique()して、そのあとソートする。
pandas.uniqueは、numpy配列を返すことに注意。したがって、uniqueしたあとで、pandasのSeriesに戻してソートするか（pd.Series(df[0].unique()).sort_values()）、numpyのままsortするか（np.sort(df[0].unique()）、いずれか。

pandas.sort_* 　https://note.nkmk.me/python-pandas-sort-values-sort-index/

numpy配列からseriesを作る　https://note.nkmk.me/python-pandas-numpy-conversion/　

numpy.sort()　https://note.nkmk.me/python-numpy-sort-argsort/

uniq：重複行をとる。https://uxmilk.jp/53546
sort：ソートする。-r　降順、 -n 　文字列を数値として解釈する、 -k x 　x番目の列を使う　https://www.atmarkit.co.jp/ait/articles/1611/09/news020.html

###解答例

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
print('\n'.join(np.sort(df[0].unique())))

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
print('\n'.join(pd.Series(df[0].unique()).sort_values()))

In [ ]:
!cut -f 1 popular-names.txt | sort |  uniq

##課題18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

###解答例

In [ ]:
import pandas as pd
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
print(df.sort_values(2, ascending=False))

            0  1      2     3
1340    Linda  F  99689  1947
1360    Linda  F  96211  1948
1350    James  M  94757  1947
1550  Michael  M  92704  1957
1351   Robert  M  91640  1947
...       ... ..    ...   ...
27      Annie  F   1326  1881
28     Bertha  F   1324  1881
8      Bertha  F   1320  1880
29      Alice  F   1308  1881
9       Sarah  F   1288  1880

[2780 rows x 4 columns]

In [ ]:
!sort -rnk 3 popular-names.txt > tmp.txt ; head -n 5 tmp.txt ; tail -n 5 tmp.txt

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Annie	F	1326	1881
Bertha	F	1324	1881
Bertha	F	1320	1880
Alice	F	1308	1881
Sarah	F	1288	1880

##課題19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ

###ヒント
pandas.value_count：値をカウントする　https://note.nkmk.me/python-pandas-value-counts/

uniq –c 　各行の前に出現回数を出力する　https://www.atmarkit.co.jp/ait/articles/1611/14/news021.html

###解答例

In [ ]:
import pandas as pd
df = pd.read_csv('popular-names.txt', sep='\t', header=None)
print(df[0].value_counts())

James      118
William    111
John       108
Robert     108
Mary        92
          ...
Julie        1
Scott        1
Crystal      1
Lori         1
Lucas        1
Name: 0, Length: 136, dtype: int64

In [ ]:
!cut -f 1 popular-names.txt | sort | uniq -c | sort -rn | head -n 5

    118 James
    111 William
    108 Robert
    108 John
     92 Mary